 nav {
  height: 7vh;
  max-width: 100vw;
  display: flex;
  padding: 5px 25px 5px 15px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px #e9e9e9 solid;
  background-color: rgba(240, 255, 255, 0);

 } 
  
 .app-logo {
  height: 5vh;
 } 
 
 .navbar-right-group {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #0000ff00;
 }
 
 .img-icon-container {
  height: 4.5vh;
  width: 4.5vh;
  padding: 2px; 
  align-items: center;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-color: aqua;
  background-image: url("/src/img/profilePic-min.jpeg");

} #user-img {
  border-radius: 50%;
 }

 #icon-group {
  display: flex;
  flex-direction: column;
 }

.logout-button {
  border: none;
  outline: none;
  cursor: pointer;
  padding-block: 8px;
  padding-inline: 13px;
  margin-right: 15px;
  color: white;
  font-size: 2vh;
  border-radius: 5px;
  font-family: Google sans;
  background-color: #ff9900;
}

