form {
  margin-bottom: 15px;
  width: 35%;
  display: flex;
  flex-direction: column;
}

.login-form-header {
  font-weight: 600;
  font-size: 4vh;
  margin-bottom: 2.5vh;
}

.sub-header {
  font-size: 2.2vh;
  padding-block: 1.5vh;
}

.sub-header-failed-message {
  background-color: #ffffff;  
  color: #353535;
  border: 1px #ff9900 solid;
  padding-block: 2vh;
  padding-inline: 2.5vh;
  border-radius: .5vh;
}

.sub-header-link {
  color: #ff9900;
  font-weight: 500;
}

.input-group {
  display: flex;
  padding-block: 2.5vh;
  flex-direction: column;
  justify-items: flex-end;
}

input {
  border: none;
  outline: none;  
  padding: 15px;
  font-size: 2.8vh;
  border-radius: 5px;
  font-family: Google sans;
  border: 1px #ff990000 solid;
  background-color: hsla(36, 100%, 50%, 0.080);
} ::placeholder {
  font-family: Google sans;
  font-size: 2.8vh;
  color: #C4C4c4;
}

input:focus {
  border: 1px #ff9900 solid;
}

.input-password {
  margin-top: 2.5vh;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 13px;
  color: white;
  font-size: 2.8vh;
  border-radius: 5px;
  font-family: Google sans;
  background-color: #ff9900;
} 

button:hover {
  background-color: #e98c00;
}

button:clicked {
  background-color: #d27e00;
}


.button-sub-text {
  margin-top: 1vh;
  font-size: 1.8vh;
  text-align: left;
}

a {
  cursor: pointer;
  color: #ff9900;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  padding-left: 5px;
  font-size: 2vh;
}
